<%= form_for("externcall_incoming_path") do |f| %>
 <div class="field">
    <%= f.label :a %><br />
    <%= f.text_field :a %>
  </div>
  <div class="field">
    <%= f.label :b %><br />
    <%= f.text_field :b %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

